.choice {
  z-index: 0;
  background-color: rgb(97, 197, 214);
  text-align: start;
  font-size: 1.5rem;
  font-weight: bold;
  height: 2rem;
  border-bottom: 0.1rem solid rgb(78, 78, 78);
  border-bottom-style: inset;
  word-wrap: break-word;
  overflow: hidden;
}

.choice:hover {
  filter: brightness(1.02);
  cursor: pointer;
}

.choiceVar1 {
  background-color: rgb(97, 197, 214);
}

.choiceVar2 {
  background-color: rgb(74, 175, 193);
}

.choiceVarChosen {
  background-color: rgb(106, 214, 183);
  animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(115%);
  }
  100% {
    filter: brightness(100%);
  }
}
