.display-glass {
  z-index: 3;
  position: absolute;
  background-image: url(../assets/display-screen/glass.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.display-glass.help-hover {
  backdrop-filter: hue-rotate(10deg) saturate(1.3) brightness(1);
  filter: hue-rotate(90deg) brightness(1.2);
}

.copyable {
  cursor: copy !important;
}

.display-lines {
  --container-height: 6.3vh;
  --aspect-ratio: 7.4586;
  --height: calc(var(--container-height) * 2);
  z-index: 1;
  background-image: url(../assets/display-screen/lines.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  height: var(--height);
  width: calc(var(--height) * var(--aspect-ratio));
  top: calc(var(--height) * -0.5);
}
