.display-glass {
  z-index: 3;
  position: absolute;
  background-image: url(../assets/display-screen/glass.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  /* cursor: pointer; */
}

.copied {
  cursor: default;
}

.notCopied {
  cursor: copy;
}

.display-lines {
  --container-height: 6.3vh;
  --aspect-ratio: 7.4586;
  --height: calc(var(--container-height) * 2);
  z-index: 1;
  background-image: url(../assets/display-screen/lines.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  height: var(--height);
  width: calc(var(--height) * var(--aspect-ratio));
  top: calc(var(--height) * -0.5);
}
