.help-menu-container {
  position: absolute;
  z-index: 7;
  top: 1.5vh;
  left: 1vh;
  width: 176vh;
  border-radius: 2vh;
  padding: 1vh 1.5vh 1.5vh 1vh;
  background-color: rgba(228, 228, 228, 0.804);
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.how-to-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 60%;
  /* gap: 0.3vh; */
}

.about-summary {
  width: 62%;
  display: flex;
  flex-direction: column;
  font-size: 2vh;
}

.left-aligned {
  text-align: left;
}

.custom-line-break {
  height: 0.8vh;
}
