.help-menu-container {
  position: absolute;
  z-index: 7;
  top: 2.5vh;
  left: 36vh;
  height: 23vh;
  width: 110vh;
  border-radius: 2vh;
  padding: 1vh;
  background-color: rgb(211, 157, 95);
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.help-menu-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}
