.help-item {
  display: flex;
  align-items: center;
  gap: 2vh;
  padding: 0.3vh 1.5vh;
  width: 100%;
  border-radius: 1vh;
  cursor: pointer;
}

.help-item:hover {
  background-color: rgb(188, 188, 188);
}

.help-item-name {
  font-size: 2vh;
  width: 18vh;
}

.help-item-description {
  font-size: 2vh;
}
