.help-btn {
  position: relative;
  z-index: 8;
  --width: 4vh;
  --color: #ffffffc1;
  top: 2.5vh;
  left: 2vh;
  height: var(--width);
  width: var(--width);
  border-radius: 50%;
  font-size: 3vh;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  background-color: transparent;
  border: none;
  color: var(--color);
  border: 2px solid var(--color);
  cursor: pointer;
}

.help-btn:hover {
  background-color: var(--color);
  color: #56b3c3;
  border: none;
}
