.help-item {
  display: flex;
  align-items: center;
  gap: 2vh;
  padding: 0.3vh 1.5vh;
  width: 100%;
  border-radius: 1vh;
  cursor: default;
}

.help-item:hover {
  background-color: rgb(188, 188, 188);
}

.help-item-name {
  width: 19vh;
}

.help-item-name,
.help-item-description,
.help-item-divider {
  font-size: 2.17vh;
}
