.lever-container {
  position: absolute;
  /* background-color: rgb(108, 108, 108); */
}

.lever-base {
  --aspect-ratio: 0.3157;
  --height: 14vh;
  z-index: 2;
  background-image: url(../assets/lever/lever-base.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: calc(50% - var(--height) / 2);
  left: -16vh;
  width: calc(var(--height) * var(--aspect-ratio));
  height: var(--height);
}

.lever-handle,
.fake-handle {
  z-index: 1;
  position: absolute;
}

.lever-handle {
  --aspect-ratio: 3.0842;
  --height: 5vh;
  /* background-color: red; */
  top: calc((50% - var(--height) / 2));
  width: calc(var(--height) * var(--aspect-ratio));
  height: var(--height);
  left: -15vh;
  transform-origin: center left;
  background-image: url(../assets/lever/lever-handle.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.fake-handle {
  /* background-color: blue; */
  --height: 7vh;
  top: -9vh;
  left: -8vh;
  width: var(--height);
  height: var(--height);
  cursor: grab;
}
