.reel-container,
.reel-window {
  overflow: hidden;
}

.reel-container {
  --height: 16.6vh;
  background-color: rgb(67, 174, 136);
  width: 27.8vh;
  height: var(--height);
  border-radius: 1vh;
  position: relative;
  border-radius: 1.2vh;
}

.drag-handle {
  position: absolute;
  z-index: 4;
  height: 200%;
  width: 100%;
  top: -50%;
  border-radius: 1.2vh;
  cursor: pointer;
}

.reel-window {
  position: absolute;
  z-index: 3;
  background-image: url(../assets/reel/window.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  border: 0.1vh solid rgba(68, 127, 115, 0.814);
  border-radius: 1.2vh;
  opacity: 0.8;
}

.reel-gradient {
  position: absolute;
  z-index: 3;
  background-image: url(../assets/reel/gradient.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 102%;
  width: 100%;
  opacity: 0.6;
  border-radius: 1.2vh;
  pointer-events: none;
}

.reel {
  z-index: 2;
  position: relative;
  background-color: rgb(43, 75, 135);
}
