.reel-unit {
  /* background-color: rgba(43, 179, 47, 0.458); */

  position: relative;
  z-index: 2;
  height: 100%;
  display: grid;
  grid-template-rows: 21.5% 12.7% 53.6% auto;
  justify-items: center;
  align-items: start;
}
