.reel-window {
  overflow: hidden;
  position: absolute;
  z-index: 3;
  background-image: url(../assets/reel/window.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  border: 0.1vh solid rgba(68, 127, 115, 0.814);
  border-radius: 1.2vh;
  opacity: 0.8;
}
