.App {
  background-color: rgb(47, 47, 47);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.user-dragging {
  cursor: grabbing;
}

.reels-container {
  /* background-color: rgba(0, 50, 189, 0.662); */
  /* border: 1px solid rgb(0, 0, 0); */
  position: fixed;
  z-index: 2;
  --width: 123vh;
  --center-left-shift: calc(50vw - calc(var(--width) / 2));
  width: var(--width);
  height: 27%;
  left: calc(var(--center-left-shift) + 1.7vh);
  top: 41.08%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lever-container {
  /* background-color: rgba(0, 50, 189, 0.433); */
  /* border: 1px solid rgb(0, 0, 0); */
  position: fixed;
  z-index: 2;
  --width: 18vh;
  --center-left-shift: calc(50vw - calc(var(--width) / 2));
  top: 44%;
  left: calc(var(--center-left-shift) + 77.25vh);
  height: 24.5%;
  width: var(--width);
}

.display-container {
  --container-height: 6.3vh;
  --aspect-ratio: 14.5882;
  --height: var(--container-height);
  --width: calc(var(--height) * var(--aspect-ratio));
  --center-left-shift: calc(50vw - calc(var(--width) / 2));
  /* background-color: rgba(0, 50, 189, 0.433); */
  /* border: 1px solid rgb(0, 0, 0); */
  position: fixed;
  z-index: 2;
  top: 74.1%;
  left: calc(var(--center-left-shift) + 7.22vh);
  height: var(--height);
  width: var(--width);
  overflow: hidden;
  border-radius: 1.2vh;
}

.pickers {
  /* border: 1px solid red; */
  z-index: 4;
  background-image: url(assets/pickers.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
  --width: 130vh;
  --center-left-shift: calc(50vw - calc(var(--width) / 2));
  top: 52%;
  left: calc(var(--center-left-shift) + 2vh);
  height: 4%;
  width: var(--width);
  pointer-events: none;
}

.cursor-dragging-screen-cover {
  cursor: grabbing;
  height: 100%;
  width: 100%;
  z-index: 10;
  position: fixed;
  /* background-color: red; */
}

.tutorial-btn {
  z-index: 7;
  position: fixed;
  top: 0;
  left: 0;
  height: 4vh;
  width: 8vh;
}
