.App {
  background-color: rgb(47, 47, 47);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.user-dragging {
  cursor: grabbing;
}

.reels-container {
  /* background-color: rgba(0, 50, 189, 0.662); */
  /* border: 1px solid rgb(0, 0, 0); */
  position: relative;
  z-index: 2;
  top: 30.9%;
  left: 16.4%;
  height: 34.5%;
  width: 69.14%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
