.reel-container {
  margin-top: 4rem;
  padding: 1rem;
  background-color: rgb(212, 170, 133);
  width: 20rem;
  height: 12rem;
}

.reel-window {
  overflow: hidden;
  height: 100%;
  width: 100%;
  border: 4px solid rgb(78, 78, 78);
  border-radius: 0.5rem;
  position: relative;
}

.reel-window::before,
.reel-window::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 20%;
  left: 0;
  pointer-events: none; /* This allows interaction with elements under the pseudo-element */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 1;
}

.reel-window::after {
  bottom: 0;
  transform: rotate(180deg); /* This is used to flip the gradient */
}

input {
  z-index: 1;
}

.choice {
  z-index: 0;
  background-color: rgb(97, 197, 214);
  text-align: start;
  font-size: 1.5rem;
  font-weight: bold;
  height: 2rem;
  border-bottom: 0.1rem solid rgb(78, 78, 78);
  border-bottom-style: inset;
}

.choice:hover {
  filter: brightness(1.02);
  cursor: pointer;
}

.choiceVar1 {
  background-color: rgb(97, 197, 214);
}

.choiceVar2 {
  background-color: rgb(74, 175, 193);
}

.choiceVarChosen {
  background-color: rgb(106, 214, 183);
  animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(110%);
  }
  100% {
    filter: brightness(100%);
  }
}

.reel {
  position: relative;
  background-color: rgb(43, 75, 135);
  /* transform: translateY(-20rem);
  transform: translateY(0rem); */
}
