.window {
  overflow-y: hidden;
  height: 100px;
  width: 200px;
  background-color: rgb(30, 122, 30);
  position: fixed;
  top: 200px;
}

ul {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.test-container {
  margin-top: 4rem;
  padding: 4rem;
  font-size: 3rem;
  font-weight: bold;
  background-color: rgb(39, 118, 144);
  color: white;
  width: 100%;
  max-width: 40rem;
}

.test-arr-element {
  margin-bottom: 1rem;
  background-color: rgb(94, 185, 215);
  color: black;
}

.circle {
  margin-top: 4rem;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  background-color: rgb(30, 122, 30);
}
