.game-container {
  position: fixed;
  width: calc(100vh * 1.7778);
  height: 100vh;
  top: 0;
  left: calc(50vw - calc(100vh * 1.7778) / 2);
  overflow: hidden;
  margin: auto;
  background-color: #ad6b58;
  background-image: url(../assets/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* 1920 / 1080 = 1.7778 */
