.machine {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: url(../assets/machine.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.signs-area {
  position: absolute;
  top: 32.6%;
  left: 17%;
  width: 68.2%;
  height: 4%;
  display: flex;
  justify-content: space-between;
}

.lock-switches-area {
  position: absolute;
  top: 40.4%;
  left: 21.9%;
  width: 58.3%;
  height: 3.4%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
}

.reels-area {
  position: absolute;
  top: 44.6%;
  left: 16.35%;
  width: 69.5%;
  height: 17%;
  border: 1px solid red;
}

.lever-area {
  position: absolute;
  top: 42%;
  left: 88.4%;
  width: 10.3%;
  height: 26%;
  /* border: 1px solid red; */
}

.lights-area {
  /* border: 1px solid red; */
  position: absolute;
  top: 63%;
  left: 23.12%;
  width: 55.8%;
  height: 4.4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.display-area {
  position: absolute;
  top: 73.3%;
  left: 28.2%;
  width: 51.8%;
  height: 6.45%;
  /* border: 1px solid red; */
}
