.machine {
  position: fixed;
  z-index: 1;
  width: calc(100vh * 1.7778);
  height: 100vh;
  background-image: url(../assets/machine.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  top: 0.7vh;
  left: calc(50vw - calc(100vh * 1.7778) / 2);
}
